/* Web Fonts ----------------------- */
@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.woff') format('woff');
}

/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 20px; /* 1.25em on most screens */
}

body {
  margin: 1rem;
  color: #454959;
  /* font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  line-height: 1.5; */
  font: 300 100%/1.5 'Work Sans', sans-serif;
  /* background-image: url(http://placekitten.com/200/300);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 400px 600px; */
}

a {
  color: #cc4e13;
  text-decoration: none;
}

h1, h2 {
  font-family: 'Abolition Regular', Impact, Charcoal, sans-serif;
  font-weight: normal;
  line-height: 1.1;
}

h1 {
  /* text-shadow: -10px 5px 0 blue,
  8px 16px 0 yellow; */
  text-shadow: 1px 2px 3px rgba(0, 10, 30, .5);
  font-size: 4rem;
}

h1::after {
  content: '\2193';
  display: block;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

img {
  width: 100%; /* responsive images */
  border-radius: 10px;
}


/* Main Styles --------------------- */
header {
  padding: 10vh 1rem;
  margin: -1rem -1rem 1rem;
  background: url(../img/mountains.jpg) center / cover no-repeat #f3753b;
  background-blend-mode: multiply;
  background-color: #f3753b;
  color: white
}

header, footer {
  text-align: center;
}

.title {
  letter-spacing: 1px;
}

main {
  hyphens: auto;
}

#wildlife {
  padding: 20% 15%;
  border-top: 12px solid #f3753b;
  border-radius: 12px 12px 0 0;
  background: url(../img/bear.jpg) center / cover #454959;
  color: white;
  box-shadow: inset 0 0 20px 10px rgba(0,10,30,.8);
}

#wildlife a {
  color: #f7a27c
}

.callout {
  display: block;
  width: 250px;
  padding: .25rem 1rem;
  border-radius: 20px/10px;
  margin: 1rem auto;
  box-shadow: 1px 2px 3px rgba(0, 10, 30, .5);
  /* margin auto centers button in viewport */
  background-image: linear-gradient(-30deg, #cc4e13, papayawhip);
  background-color: #cc4e13;
  color: white;
  text-align: center;
  font-size: 1.25rem;
}
/* the reason why we made this lighter is because we need to make the links specifically lighter on
the dark background... We have other links on the white background. so the main a{ selector needs
to be the main orange color.*/

/* Media Queries ------------------- */

